body{
    padding-top: 80px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-left {
    flex: 1;
    margin-right: 40px;
  }
  .contact-details {
    margin-top: 20px;
  }
  
  .contact-details h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .contact-details p {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .contact-details i {
    margin-right: 8px; /* Add some space between the icon and the email */
    color: #007bff;
  }
  
  
  .contact-details a {
    color: #000000;
    text-decoration: none;
  }
  
  .contact-details a:hover {
    color: #007bff;
  }
  
  .contact-right {
    flex: 1;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  
  .form-group input,
  .form-group textarea {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .submit-button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  