.about-us-container {
  padding: 20px;
  max-width: 1400px;
  margin: 40px auto;
}
h1,h3{
  margin: 0;
}


.layout-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-left {
  flex: 1;
  font-size: 1.2rem;
  color: black;
  min-width: auto;
}

.layout-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-image {
  width: 790px !important ; /* Ensures image doesn't overflow */
  height: 400px !important;
  border-radius: 16px;
}


.proverb-section {
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.proverb-section blockquote {
  font-size: 1.4rem;
  font-style: italic;
  color: #555; /* Slightly darker grey for text */
  margin: 0;
}

/* Card Container for Vision, Mission, and Values */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 70px;
}

/* Default card styling */
.card {
  flex: 1;
  min-width: 250px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Add hover effect for card */
.card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Default icon color */
.card-icon {
  margin-right: 10px;
  color:  #ff6347; /* Default color */
  font-size: 1.8rem;
  vertical-align: middle;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Change icon color on hover */
.card:hover .card-icon {
  color: #ff6347; /* New color on hover (e.g., Tomato) */
}


.card p{
  font-size: 1.1rem;
  color: black;
}
.card-title{
  font-size: 2rem;
  color: black;
}
/* Separate Values Card */
.values-card {
  border-radius: 8px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}
.values-card ul li{
  font-size: 1.1rem;
  color: black;
}
.values-card:hover .card-icon{
  color: #ff6347;
}
.values-card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.text-banner{
  background-color: #ffdada;
  color: black;
  padding: 40px;
  font-weight:600;
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  max-width: 100%;
}

.experience {
  border-radius: 8px;
  padding: 20px;
  margin-top: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  transition: box-shadow 0.3s ease; /* For hover effect */
}

.experience:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Hover shadow effect */
}

.experience p {
  font-size: 1.1rem;
  color: black;
}

.experience:hover .card-icon {
  color: #ff6347; /* Change icon color on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .layout-container {
    flex-direction: column;
  }
  .layout-right {
    margin-top: 20px;
  }
}
@media(max-width:480px){
  .text-banner{
    font-size: 1.4rem;
    padding: 10px;
  }
}
